.poster {
  text-align: center;
  overflow: hidden;
  border: 4px dotted red;
  width: 400px;
  background: yellow;
  border-radius: 40px;
  padding: 20px;
}

img {
  width: 100px;
  border: 1px solid black;
  padding: 10px;
  background: white;
}

h1 {
  font-family: Impact;
  font-size: 50pt;
  margin: 10px;
  text-decoration: underline;
}

/* DO NOT CHANGE ANYTHING BELOW THIS LINE */
li {
  display: flex;
}

li p {
  flex-grow: 1;
}

ul {
  list-style-type: none;
  list-style-position:inside;
  margin: 0;
  padding: 0;
}

.delete-button {
  width: 30px;
  height: 30px;
  padding: 10px;
}