<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/styles.css?id={{ ms_num }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Poppins&display=swap" rel="stylesheet">
    <script src="static/js/main.js?id={{ ms_num }}" defer></script>
  </head>
  <body>
    <div class="wanted-poster">
      <h1>Wanted!</h1>
      <h2>Have you seen this robot?</h2>
      <img src="https://robohash.org/hello-world">
      <p>
        Description: Green robot, two yellow eyes, multicolored teeth, red button on top of his head.
      </p>
      <p>If you see him, please contact 123-456-7890!</p>
      <p class="reward">Reward: $1,000,000</p>
        
      <div class="last-seen">
        <h2>Last Seen</h2>

        <ul id="last-seen-list">
        </ul>

        <form id="last-seen-form">
          <!-- STEP 1: Add location text input -->
          <input type="text" name="location" id="last-seen-location">
          <input type="submit" value="submit">
      </form>
      </div>
      
    </div>
  </body>
</html>