<!DOCTYPE html>
<html>
  <head>
    <title>Wanted!</title>

    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script src="static/js/main.js" defer></script>
  </head>
  <body>
    <div class="poster">  
      <h1>Wanted!</h1>
      <h3>Have you seen this robot?</h3>
      <img src="https://robohash.org/104.236.21.134.png">
      <p>Description: Height: 30cm, Arms: 4</p>
      <p>If you have any information, please contact 6207 332 2310</p>

      <h2>Last Seen</h2>
      <ul id="last-seen">
      </ul>

      <form id="last-seen-form">
        <input type="text" name="location">
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>